Source: aiohttp
Maintainer: Karl Ramm <kcr@1ts.org>
Section: python
Priority: optional
Build-Depends: python3-setuptools (>= 0.6b3), python3-all-dev (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1
X-Python3-Version: >= 3.4

Package: python3-aiohttp
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: http client/server for asyncio
 http client/server for asyncio
 ==============================
 .
 .. image:: https://secure.travis-ci.org/KeepSafe/aiohttp.png
   :target:  https://secure.travis-ci.org/KeepSafe/aiohttp
 .
 .. image:: https://coveralls.io/repos/KeepSafe/aiohttp/badge.png?branch=master
   :target: https://coveralls.io/r/KeepSafe/aiohttp?branch=master
 .
 .
 Requirements
 ------------
 .
 - Python >= 3.3
 - asyncio https://pypi.python.org/pypi/asyncio/0.4.1
 .
 .
 License
 -------
 .
